

@media (max-width: 1000px) and (min-width: 413px) { /* iPad Mini */


    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
       
      
        background-image: url('../../public/large background.png');
        height: 150vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        backdrop-filter: blur(5px);
      }

    .title {
        color: rgb(13, 13, 110);
        font-family: Calibri;
        font-size: 300%;
        display: flex;
        position: relative;
        left: 180px;
        top: -20px;
        margin: 10px;
    
    }

    
    .memoTable, .downColumn, .freeColumn, .upColumn, .callColumn, .handColumn, .sumColumn{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 75px;
        top: 75px;
                
    }
    
    .memoTable{
        left: 45px;
    }
    .downColumn{
        left: 125px;
    }
    .freeColumn{
        left:205px
    }
    .upColumn{
        left: 285px;
    }
    .callColumn{
        left: 365px;
    }
    .handColumn{
        left: 445px;
    }
    .sumColumn{
        left: 525px;
    }
    
    .dicesThrow{
        display: flex;
        position: absolute;  
        top: 200px;
        left: 450px;
    }
    
    .dicesKeep{
        display: flex;
        position: absolute;  
        top: 275px;
        left: 450px;
    }
    
    .countThrow{
        display: flex;
        position: absolute;  
        top: 735px;
        left: 120px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: xx-large;
    }
    
    
    .cellBorder {
    border: 2px solid black;
    margin: 2px;
    height: 30px;
    font-size: 125%;
    border-radius: 5px;
    }
    
    .sumSpacing {
    visibility: hidden;
    }
    
    
    .clickable:hover {
        background-color: yellow;
        transform: scale(1.15);
    
      }
    
    .sumBackground{
        background-color: rgb(49, 168, 156)
    }
    
    
    
    
    .throwBox, .thrownDice1, .thrownDice2, .thrownDice3, .thrownDice4, .thrownDice5, .thrownDice6,
    .keepBox, .keptDice1, .keptDice2, .keptDice3, .keptDice4, .keptDice5, .keptDice6{
    color:rgb(4, 4, 35);
    background-color: rgb(124, 97, 243);
    width: 100px;
    font-size: 135%;
    border: 1px solid rgb(2, 27, 2);
    margin: 2px;
    height: 65px;
    border-radius: 5px;
    border-color: aliceblue;
    text-align: center;
    position: relative;
    top: 600px;
    left: -380px;
    }
    .throwBox:hover { background-color: yellow }
    .thrownDice1:hover { background-color: yellow }
    .thrownDice2:hover { background-color: yellow }
    .thrownDice3:hover { background-color: yellow }
    .thrownDice4:hover { background-color: yellow }
    .thrownDice5:hover { background-color: yellow }
    .thrownDice6:hover { background-color: yellow }
    .keptDice1:hover { background-color: yellow }
    .keptDice2:hover { background-color: yellow }
    .keptDice3:hover { background-color: yellow }
    .keptDice4:hover { background-color: yellow }
    .keptDice5:hover { background-color: yellow }
    .keptDice6:hover { background-color: yellow }
    
    .thrownDice1, .thrownDice2, .thrownDice3, .thrownDice4, .thrownDice5, .thrownDice6,
    .keptDice1, .keptDice2, .keptDice3, .keptDice4, .keptDice5, .keptDice6{
    width: 55px;
    font-size: 300%;
    }
    
    .muteDice{
        pointer-events: none;
    }
    
    .muted{
        pointer-events: none;
    }
    
    .temporarilyMuted{
        pointer-events: none;
    }
    
    
    
    .throwCounter {
        width: 55px;
        font-size: 300%;
        text-align: right;
        }
    
    .hideElement {
        visibility: hidden;
    }
    
    .turnRed{
        color: red;
    }
    
    .calledCell {
        background-color: yellow;
        transform: scale(1.15);
    }
    
    .bluredBackground {
        filter: blur(5px);
        pointer-events: none;
    }
    
    .rules_btn{
    
        position: relative;
        top: 50px;
        left: 430px;
        background-color:  rgb(124, 97, 243);
        border: 2px solid;
        border-color: aliceblue;
        border-radius: 5px;
        z-index: 2;
    }
    
    .rules_btn:hover{
        background-color: yellow;
    }
    
    .popuptext{
        z-index: 2;
        border: 2px solid;
        border-color: aliceblue;
        opacity: 1;
        position: fixed;
        border-radius: 10px;
        width: 650px;
        height: 700px;;
        top: 40px;
        left: 30px;
        background-color:  rgb(124, 97, 243);
        text-align: center;
        
    }
    
    .rulesTitle {
        color: greenyellow;
    }
    
    
    .close_btn{
        position: fixed;
        left: 632px;
        top: 40px;
        border-radius: 10px;
        background-color:  rgb(124, 97, 243);
        border: 2px solid;
        border-color: aliceblue;
    }
    
    .close_btn:hover{
        background-color: rgb(156, 58, 58);
    }
    
    
    .diceAlert{
        z-index: 2;
        border: 2px solid;
        border-color: aliceblue;
        opacity: 1;
        position: fixed;
        border-radius: 10px;
        width: 350px;
        height: 150px;;
        top: 480px;
        left: 315px;
        background-color:  rgb(243, 97, 116);
        text-align: center;
    }
    
    
    .ok_btn{
        border: 2px solid;
        border-color: aliceblue;
        padding: 10px 15px;
        background-color:  rgb(124, 97, 243);
        border-radius: 10px;
    }
    
    .ok_btn:hover{
        background-color: yellow;
    }
    
    .freezeBackground {
         pointer-events: none;
    }
    
    .endGame{
        z-index: 2;
        border: 2px solid;
        border-color: aliceblue;
        opacity: 1;
        position: fixed;
        border-radius: 5px;
        width: 350px;
        height: 185px;;
        top: 300px;
        left: 415px;
        background-color:  rgb(124, 97, 243);
        text-align: center;
    }
    
    .signature{
        position: absolute;
        top: 5px;
        left: 5px;
        color: rgb(4, 4, 59);
    }
    

  }
